<!-- 右上角 Post 显示信息设置 -->
<div class="navbar-setting">
	<a class="dl-trigger"><i class="icon-font"></i></a>
	<div class="setting-box">
		<div class="btn-group change-background">
			<a class="btn btn-daytime active" data="reader-day-mode"><i class="icon-sun"></i></a>
			<a class="btn btn-nighttime" data="reader-night-mode"><i class="icon-moon"></i></a>
		</div>
		<div class="btn-group change-font">
			<a class="btn font active" data="reader-font1">宋体</a>
			<a class="btn font hei" data="reader-font2">黑体</a>
		</div>
	</div>
</div>