<!-- 右上角作者信息导航 -->
<div class="navbar-user">
	<a class="dl-trigger avatar">
		<img src="{{ site.owner.avatar }}">
		<b class="caret"></b>
	</a>
	<ul class="dl-menu">
		<li class="dl-back"><a href="#">back</a></li>
		<li>
			<img src="{{ site.owner.avatar }}" class="author-photo">
			<h4>{{ site.owner.name }}</h4>
			<p>{{ site.owner.bio }}</p>
		</li>
		<li><a href="{{ site.owner.linkedin }}">Learn More</a></li>
		<li><a href="mailto:{{ site.owner.email }}"><i class="icon-envelope"></i> Email</a></li>
	</ul>
</div>