---
layout: default
---
<div class="recommended">
	<div class="span3 aside">
		<div class="avatar">
			<img src="/assets/images/categories/{{ page.category }}.jpg" thumbnail="300x300">
		</div>
		<h3 class="title">
			<a href="{{ site.baseurl }}/categories/{{ page.category }}">{{ page.category }}</a>
		</h3>
		<p class="description" category="{{ page.category }}"></p>
		<div class="meta"><a>{{ page.category | last | size }} 篇文章</a></div>
		<div class="author">
			<a href="">呈熙</a> 编
		</div>
	</div>
	<div class="span7 offset3">
		<div class="page-title">
			<ul class="recommened-nav navigation clearfix">
				<li class="active"><a>学习 · 总结 · 分享</a></li>
				<li class="search"><input type="text" placeholder="搜索" class="input-medium search-query"></li>
			</ul>
		</div>
		<ul class="thumbnails">
			{% for post in site.categories.[page.category] %}
			<li class="clearfix">
				<div class="article">
					<a class="title" href="{{ site.baseurl }}/{{ post.url }}" target="_blank">{{ post.title }}</a>
					<br>
					<a class="content" href="{{ site.baseurl }}/{{ post.url }}" target="_blank">{{ post.excerpt }}</a>
					<div class="article-info">
						<i class="icon-book"></i>
						<a class="notebook" href="{{ site.baseurl }}/categories/{{ post.categories }}">{{ post.categories }}</a>
						&nbsp;
						<i class="icon-th"></i>
						{% for tag in post.tags %}
							<a class="collections" href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a>
						{% endfor %}
						&nbsp;
						<i class="icon-clock"></i>
						{{ post.date | date: "%B %d, %Y" }}
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
